<div class="news-card" *ngFor="let newsContent of news">
  <img [src]="newsContent.preview">
  <div [innerHtml]="newsContent.title"></div>
  <div [innerHtml]="newsContent.date | date"></div>
</div>
<div class="news-card" *ngFor="let newsContent of news">
  <img [src]="newsContent.preview">
  <div [innerHtml]="newsContent.title"></div>
  <div [innerHtml]="newsContent.date"></div>
</div>
<div class="news-card" *ngFor="let newsContent of news">
  <img [src]="newsContent.preview">
  <div [innerHtml]="newsContent.title"></div>
  <div [innerHtml]="newsContent.date"></div>
</div>
<div class="news-card" *ngFor="let newsContent of news">
  <img [src]="newsContent.preview">
  <div [innerHtml]="newsContent.title"></div>
  <div [innerHtml]="newsContent.date"></div>
</div>
<div class="news-card" *ngFor="let newsContent of news">
  <img [src]="newsContent.preview">
  <div [innerHtml]="newsContent.title"></div>
  <div [innerHtml]="newsContent.date"></div>
</div>
