<div class="document-content">
    <div class="legislation-document">
        <div class="meta">
            <span>Технічні правила з дисципліни "Counter Strike: Global Offensive"</span>
            <span>East European Esports League</span>
        </div>
        <div class="download-document">
            <a download="csgo_eeel.pdf" title="Завантажити" href="" target="_blank">
            <!-- TODO -->
                <mat-icon>cloud_download</mat-icon></a>
        </div>
    </div>
    <div class="legislation-document">
        <div class="meta">
            <span>Технічні правила з дисципліни "Counter Strike: Global Offensive</span>
            <span>Eternity League</span>
        </div>
        <div class="download-document">
            <a target="_blank" title="Завантажити" href="">
                <mat-icon>cloud_download</mat-icon>
            </a>
        </div>
    </div>
    <div class="legislation-document">
        <div class="meta">
            <span>Технічний регламент з дисципліни "Dota 2"</span>
            <span>Destiny League</span>
        </div>
        <div class="download-document">
            <a target="_blank" title="Завантажити" href="">
                <mat-icon>cloud_download</mat-icon>
            </a>
        </div>
    </div>
    <div class="legislation-document">
        <div class="meta">
            <span>Технічний регламент з дисципліни "Dota 2"</span>
            <span>Dota 2 Space League</span>
        </div>
        <div class="download-document">
            <a target="_blank" title="Завантажити" href="">
                <mat-icon>cloud_download</mat-icon>
             </a>
        </div>
    </div>
</div>